# Database

- Persistent data/effecient with large datasets

- New langauge SGL:

    - Sequential Query Language

- There are many flavours, we will use:

    - MySQL (on a server on your machine)

    - And SQLLite3

- There are other databases e.g.

    - Oracle

    - MongoDB

    - PostGres

- Install it

    - Windows use WAMP

    - Mac/Linus instal MySQL and MySQLWorkbench

## Installing WAMP

Follow this [link](https://www.wampserver.com/en/) and download directly, no need to sign in with your details. Need to also instal VS C++ 64. Prompts will come up when downloading.

## Some Concepts

Mysql can have a number of databases

Each database can have a number of tables. 

Tables have columns (which have a data-type)

- int

- varchar

- bool

- date, time, datetime

Tables also have rows that contain the data that we can perform CRUD on:

- Create (insert)

- Read (select)

- Update

- Delete

## Some Commands

Note: ALL commands end with a semicolon ;

show databases;

create database test_db;

use test_db ( this is the only command where we don't need to add ; but we can to be safe)

create table test_table(id int, 
    name varchar(250)
    );

insert into test_table (id,name) values (1, 'joe');

select * from test_table;

update test_table set name='blah' where id = 1;

delete from test_table where value = 1;

## More concepts for further down the line

Primary Keys 

Multiple tables and their relationships

Foreign Keys 

Joins 

Database normalisation

## To wrap up

SQL is a text-based language that allows us to manipulate a database.